.updateButton {
    float: right;
    position: relative;
    top: -2.2em;
    right: 67em;
    // background: $PrimaryColor;
    // border-radius: 30px;
    // font-size: 12px;
    // width: 100px;
    // height: 40px;
    // line-height: 20px;
    // text-align: center;
    color: $FontColor;
    border: 1px solid $FontColor;
    // margin: 8px 0;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 20%);
    // &:hover {
    //     background-color: #ffffff;
    //     color: $SecondaryColor;
    //     transition: all 0.3s ease;
    // }
    &:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.35);
        // border-bottom: none;
    }
}
