.Pre {
  padding-top: 80px;
  padding-bottom: 200px;
  &Container {
    width: 90%;
    width: 1280px;
    margin: 0 auto 120px 80px;
    section {
      margin-bottom: 40px;
    }
    .PreMain {
      padding: 24px 0;
      .Table {
        thead {
          th {
            border: 1px solid $PrimaryColor;
          }
        }
        tbody {
          td {
            border: 1px solid $PrimaryColor;
          }
          th {
            border: 1px solid $PrimaryColor;
          }
        }
        &Title {
          background-color: $PrimaryColor;
          color: $FontColor;
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
          font-size: 14px;
          text-align: center;
          // border: $BackColor 1px solid;
          &__point {
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
          }
          &__number {
            width: 60px;
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
          }
          &__team {
            width: 240px;
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
          }
          &__referee {
            width: 200px;
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
          }
        }
        &Content {
          color: $FontColor;
          background-color: $WhiteColor;
          font-size: 16px;
          &__number {
            width: 60px;
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
            text-align: center;
          }
          &__teamA {
            width: 240px;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
          }
          &__point {
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
            width: auto;
          }
          &__flex {
            // display: flex;
            width: auto;
            padding: 0 7px;
            margin: auto;
            .TableContent__count {
              display: flex;
              justify-content: space-between;
              button {
                background-color: $SubColor;
                border-radius: 3px;
                font-size: 12px;
                width: 30px;
                height: 22px;
                // line-height: 1px;
                text-align: center;
                color: $FontColor;
                border-top: 1px solid #d7d7d7;
                border-left: 1px solid #d7d7d7;
                border-bottom: 2px solid #adb1b580;
                border-right: 2px solid #adb1b580;
                margin: auto 2px;
                // overflow: hidden;
                text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
                // box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 20%);
                font-weight: 600;
                cursor: pointer;
                &:hover {
                  -webkit-transform: translateY(2px);
                  transform: translateY(1px);
                  // box-shadow: 0 0 0px rgba(0, 0, 0, 0.35);
                  border-bottom: 1px solid #d7d7d7;
                  border-right: 1px solid #d7d7d7;
                  transition: 0.1s;
                }
              }
              .CountPoint {
                font-size: 32px;
                margin: auto;
                width: 48px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
              }
              .UnderLine {
                font-size: 32px;
                margin: auto;
              }
            }
          }
          &__teamB {
            width: 240px;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
          }
          &__referee {
            width: 200px;
            text-align: center;
            font-weight: bold;
            box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(50, 50, 50, 0.3);
          }
        }
      }
    }
  }
}
table {
  width: 1200px;
}